# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Alembic cache
alembic/versions/*.pyc

# Virtual environment
venv/
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
